header{
    border-bottom: 2px solid black;
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}
.first{
    border-right: 2px solid black;
}
.first nav{
    display: flex;
    flex-direction: column;
}
.first nav a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
.last{
    border-left: 2px solid black;
    padding: 30px;
    list-style: none;
    font-size: 1rem;
}
footer{
    border-top: 2px solid black;
    text-align: center;
    padding: 2rem;
}