.grid-container{
    display: grid;
     grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 200px;
}
.grid-container-div{
    background-color: white;
     border: 2px solid blue;
    color: black;
    font-size: 2rem;
    text-align: center;
}
.rishi{
    background-color: yellow;
  grid-column-start: 1;  
  grid-column-end: 2;
  

}
.eshwar{
    background-color: blue;
    grid-column-start: 2;  
  grid-column-end: 3;
  

}
.subani{
    background-color: red;
  grid-column-start: 1;
  grid-column-end: 3;
}