body{
background-color: rgb(148, 124, 148);
}
header{
    border-bottom: 2px solid red;
    margin: 40px auto;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.item-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-start: 1;
    grid-column-end:4 ;
}
