body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
nav a{
  margin-right: 30 px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}
nav a:hover{
    color: blue;
}

 section{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: square;
}