body{
    background-color: palevioletred;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
img{
    width: 100%;
    height: 100%;
}
nav{
    color: black;
    justify-content: center;
    display: grid;
    background-color: aquamarine;
    padding-bottom: 10px;
}
.item-1{
grid-column-start: 1;
grid-column-end: 2;
border: 4px solid rgb(146, 218, 249);
}
.item-3{
grid-column-start: 2;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 3;
padding: 3px;
border:4px solid rgb(146, 218, 249) ;
}
.item-2{
border: 4px solid rgb(146, 218, 249);
}